# Bibliotecas necessárias

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pycountry

pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 250)
pd.set_option("display.precision", 3)
pd.set_option("expand_frame_repr", False)

df = pd.read_csv("ds_salaries.csv", index_col=0)

In [2]:
def check_data(df):
    print(f"Infos:\n{df.info()}\n")

    for col in df.columns.values:
        print(f"Coluna {col}:\n{df.loc[:,col].unique()}\n")

    print(f"Primeiras instâncias:\n{df.head()}")

check_data(df)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 607 entries, 0 to 606
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           607 non-null    int64
 1   experience_level    607 non-null    object
 2   employment_type     607 non-null    object
 3   job_title           607 non-null    object
 4   salary              607 non-null    int64
 5   salary_currency     607 non-null    object
 6   salary_in_usd       607 non-null    int64
 7   employee_residence  607 non-null    object
 8   remote_ratio        607 non-null    int64
 9   company_location    607 non-null    object
 10  company_size        607 non-null    object
dtypes: int64(4), object(7)
memory usage: 56.9+ KB
Infos:
None

Coluna work_year:
[2020 2021 2022]

Coluna experience_level:
['MI' 'SE' 'EN' 'EX']

Coluna employment_type:
['FT' 'CT' 'PT' 'FL']

Coluna job_title:
['Data Scientist' 'Machine Learning Scientist' 'Big Data Engineer'
 'Product Data Analyst' 'Machine Learning Engineer' 'Data Analyst'
 'Lead Data Scientist' 'Business Data Analyst' 'Lead Data Engineer'
 'Lead Data Analyst' 'Data Engineer' 'Data Science Consultant'
 'BI Data Analyst' 'Director of Data Science' 'Research Scientist'
 'Machine Learning Manager' 'Data Engineering Manager'
 'Machine Learning Infrastructure Engineer' 'ML Engineer' 'AI Scientist'
 'Computer Vision Engineer' 'Principal Data Scientist'
 'Data Science Manager' 'Head of Data' '3D Computer Vision Researcher'
 'Data Analytics Engineer' 'Applied Data Scientist'
 'Marketing Data Analyst' 'Cloud Data Engineer' 'Financial Data Analyst'
 'Computer Vision Software Engineer' 'Director of Data Engineering'
 'Data Science Engineer' 'Principal Data Engineer'
 'Machine Learning Developer' 'Applied Machine Learning Scientist'
 'Data Analytics Manager' 'Head of Data Science' 'Data Specialist'
 'Data Architect' 'Finance Data Analyst' 'Principal Data Analyst'
 'Big Data Architect' 'Staff Data Scientist' 'Analytics Engineer'
 'ETL Developer' 'Head of Machine Learning' 'NLP Engineer'
 'Lead Machine Learning Engineer' 'Data Analytics Lead']

Coluna salary:
[   70000   260000    85000    20000   150000    72000   190000 11000000
   135000   125000    45000  3000000    35000    87000     8000  4450000
   100000   423000    56000   299000   450000    42000    98000   115000
   325000   720000   157000    51999    60000    41000    65000   103000
   250000    10000   138000    45760    44000   106000    88000    14000
   188000   105000    61500    91000   300000    48000   130000    34000
   118000   120000   138350   110000   130800    19000   412000    40000
    55000    43200   190200    80000    37000   235000   400000   270000
    67000   140000    68000    50000   170000    75000  1450000   276000
  2200000    12000    81000    62000    73000    37456  2250000    82500
    38400   225000    90000   200000     8760   151000   700000    24000
  7000000  8500000   220000   240000    53000   153000   160000   168000
    95000    13400   144000   159500   230000    54000   165000    51400
   174000    58000 30400000   420000  1672000    76760    22000     4000
    59000    74000   152000    21844    18000   120500   147000     9272
  1799997  4000000    52000   195000    32000    69600    21000   435000
   185000   180000  2500000    40900   416000  1200000   256000    39600
  1600000  1335000    52500    31000   108000   600000  2100000    93000
  1250000  4900000    21600    93150   111775    72500   102000    65720
   112000    69999   109000   155000   120600   102100    84900   136620
    99360   146000   123000    99000   116000   106260   126500   242000
    30000   165220   120160    90320   181940   132320   220110   160080
   124190   115500   112900   165400   167000   243900   136600   109280
   128875    93700   224000   167875   175000   156600   108800    95550
   113000   161342   137141   211500   192400    90700    61300   138600
   136000   189650   164996   132000   208775   147800   136994   101570
  6000000    28500   164000   145000   105400   215300   158200   209100
   154600   115934    81666   183600    63900   112300   241000   159000
    82900   100800   140400  1400000  2400000   148000   104890   185100
   324000   216000   210000    29000    52800    66500    57000   121000
   152500   380000   405000   177000    78000   214000   192600   266400
   213120   141300   206699    99100   110500    99050   205300   176000
   200100    70500   184700   175100   140250   116150    69000   150075
    25000   110925   192564   144854   150260   154000   126000   129000]

Coluna salary_currency:
['EUR' 'USD' 'GBP' 'HUF' 'INR' 'JPY' 'CNY' 'MXN' 'CAD' 'DKK' 'PLN' 'SGD'
 'CLP' 'BRL' 'TRY' 'AUD' 'CHF']

Coluna salary_in_usd:
[ 79833 260000 109024  20000 150000  72000 190000  35735 135000 125000
  51321  40481  39916  87000  85000   8000  41689 114047   5707  56000
  43331   6072  47899  98000 115000 325000  42000  33511 100000 117104
  59303  70000  68428 450000  46759  74130 103000 250000  10000 138000
  45760  50180 106000 112872  15966  76958 188000 105000  70139  91000
  45896  54742  60000 148261  38776 118000 120000 138350 110000 130800
  21669 412000  45618  62726  49268 190200  91237  42197  82528 235000
  53192   5409 270000  80000  79197 140000  54238  47282 153667  28476
  59102 170000  88654  76833  19609 276000  29751  89294  12000  95746
  75000  36259  62000  73000  51519 187442  30428  94564 113476 103160
  45391 225000  50000  40189  90000 200000 110037  10354 151000   9466
  40570  49646  38400  24000  63711  77364 220000 240000  82500  82744
  62649 153000 160000 168000  75774  13400 144000 127221 119059 423000
 230000  28369  63831 130026 165000  55000  60757 174000   2859  40038
  81000   5679  22611  90734  26005  61896   4000  69741  74000 152000
  21844  18000  96113 147000   9272  24342  54094  61467 195000  37825
  12901  24823  56738  66022   5882 185000  28609  46597 116914  33808
  56256 416000  87738  71786  16228 256000 180000  63810  46809  21637
 103691  18053  72212  36643  12103  96282 600000  28399  93000  99703
 173762 141846 130000  16904  66265  25532  93150 111775  28016  65013
  72500  18907  77684  58000  20171 112000  69999  94665 102839 109000
  51064 155000 120600 102100  84900 136620  99360 117789 104702 146000
 123000  52351  99000 116000 106260 126500 242000  65438  39263  78526
 165220  45807 120160  90320 181940 132320 220110 160080 124190 115500
 112900 165400 167000 243900 136600 109280 128875  93700 224000 167875
 175000 156600 108800  95550 113000 161342 137141 211500 192400  90700
  61300 138600 136000 189650 164996  54957 118187 132000 208775 147800
 136994 101570  79039  37300 164000 124333  98158 145000 105400  87932
 215300 158200 209100 154600 115934  81666 183600  71982  65949  49461
  58894  63900 112300 241000 159000  82900 100800 140400  43966  32974
  76940  91614  21983  78791 196979  37236  18442  31615  58255 162674
 104890 183228 185100  65000 324000 216000 210000  31875  35590  58035
  93427  52396  62651  40000  87425  86703  64849 157000  70912  71444
  48000 152500  68147 122346 380000  69336 405000 177000  78000 214000
 192600 266400 213120 141300 206699  99100 110500  99050 205300 176000
 200100  70500 184700 175100 140250 116150  54000  69000 150075  25000
 110925 192564 144854 150260  67000  52000 154000 126000 129000]

Coluna employee_residence:
['DE' 'JP' 'GB' 'HN' 'US' 'HU' 'NZ' 'FR' 'IN' 'PK' 'PL' 'PT' 'CN' 'GR'
 'AE' 'NL' 'MX' 'CA' 'AT' 'NG' 'PH' 'ES' 'DK' 'RU' 'IT' 'HR' 'BG' 'SG'
 'BR' 'IQ' 'VN' 'BE' 'UA' 'MT' 'CL' 'RO' 'IR' 'CO' 'MD' 'KE' 'SI' 'HK'
 'TR' 'RS' 'PR' 'LU' 'JE' 'CZ' 'AR' 'DZ' 'TN' 'MY' 'EE' 'AU' 'BO' 'IE'
 'CH']

Coluna remote_ratio:
[  0  50 100]

Coluna company_location:
['DE' 'JP' 'GB' 'HN' 'US' 'HU' 'NZ' 'FR' 'IN' 'PK' 'CN' 'GR' 'AE' 'NL'
 'MX' 'CA' 'AT' 'NG' 'ES' 'PT' 'DK' 'IT' 'HR' 'LU' 'PL' 'SG' 'RO' 'IQ'
 'BR' 'BE' 'UA' 'IL' 'RU' 'MT' 'CL' 'IR' 'CO' 'MD' 'KE' 'SI' 'CH' 'VN'
 'AS' 'TR' 'CZ' 'DZ' 'EE' 'MY' 'AU' 'IE']

Coluna company_size:
['L' 'S' 'M']

Primeiras instâncias:
   work_year experience_level employment_type                   job_title  salary salary_currency  salary_in_usd employee_residence  remote_ratio company_location company_size
0       2020               MI              FT              Data Scientist   70000             EUR          79833                 DE             0               DE            L
1       2020               SE              FT  Machine Learning Scientist  260000             USD         260000                 JP             0               JP            S
2       2020               SE              FT           Big Data Engineer   85000             GBP         109024                 GB            50               GB            M
3       2020               MI              FT        Product Data Analyst   20000             USD          20000                 HN             0               HN            S
4       2020               SE              FT   Machine Learning Engineer  150000             USD         150000                 US            50               US            L

# Preparação dos dados para análise

Algumas colunas possuem valores abreviados através de siglas, dificultando o entendimento e análise dos dados. Então vamos expandir as siglas para seu texto original, visando facilitar a nossa análise.

In [3]:
def expand_experience_level(acronym):
    if acronym == "EN":
        return "Entry-level / Junior"
    
    if acronym == "MI":
        return "Mid-level / Intermediate"
    
    if acronym == "SE":
        return "Senior-level / Expert"

    if acronym == "EX":
        return "Executive-level / Director"

    return None

def expand_employment_type(acronym):
    if acronym == "PT":
        return "Part-time"
    
    if acronym == "FT":
        return "Full-time"
    
    if acronym == "CT":
        return "Contract"
    
    if acronym == "FL":
        return "Freelance"
    
    return None

def expand_country(acronym):
    country = pycountry.countries.get(alpha_2=acronym)

    if country and hasattr(country, "name"):
        return country.name
    
    return None

def expand_currency(acronym):
    currency = pycountry.currencies.get(alpha_3=acronym)

    if currency and hasattr(currency, "name"):
        return currency
    
    return None

def expand_company_size(acronym):
    if acronym == "s":
        return "Small"
    
    if acronym == "M":
        return "Medium"
    
    if acronym == "L":
        return "Large"
    
    return None

def expand_acronyms(df):
    df = df.copy()
    df["experience_level"] = df["experience_level"].map(expand_experience_level)
    df["employment_type"] = df["employment_type"].map(expand_employment_type)
    df["salary_currency"] = df["salary_currency"].map(expand_currency)
    df["employee_residence"] = df["employee_residence"].map(expand_country)
    df["company_location"] = df["company_location"].map(expand_country)
    df["company_size"] = df["company_size"].map(expand_company_size)

    return df

df_exp = expand_acronyms(df)

In [4]:
df_exp.head()

   work_year          experience_level employment_type                   job_title  salary                                    salary_currency  salary_in_usd employee_residence  remote_ratio company_location company_size
0       2020  Mid-level / Intermediate       Full-time              Data Scientist   70000  Currency(alpha_3='EUR', name='Euro', numeric='...          79833            Germany             0          Germany        Large
1       2020     Senior-level / Expert       Full-time  Machine Learning Scientist  260000  Currency(alpha_3='USD', name='US Dollar', nume...         260000              Japan             0            Japan         None
2       2020     Senior-level / Expert       Full-time           Big Data Engineer   85000  Currency(alpha_3='GBP', name='Pound Sterling',...         109024     United Kingdom            50   United Kingdom       Medium
3       2020  Mid-level / Intermediate       Full-time        Product Data Analyst   20000  Currency(alpha_3='USD', name='US Dollar', nume...          20000           Honduras             0         Honduras         None
4       2020     Senior-level / Expert       Full-time   Machine Learning Engineer  150000  Currency(alpha_3='USD', name='US Dollar', nume...         150000      United States            50    United States        Large